.work-container{
    width: 1242px;
    height: 264px;
    border-radius: 8px;
    padding: 28px;
    color: #FFFFFF;
    box-shadow: 0px 8px 24px 0px #959DA533;
    margin: 20px auto 0px;
}
.work-content{
    width: 1176px;
    height: 195px;
    gap: 40px;
}
.work-heading{
    width: 1176px;
    height: 41px;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #313131;
    margin-bottom: 30px;
}

.border__both{
    padding-left: 30px;
    padding-right: 45px;
    border-right: 1px solid rgb(200, 187, 187);
    border-left: 1px solid rgb(200, 187, 187);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
}