.city-container{
    width: 1242px;
    height: 636px;
    border-radius: 8px;
    padding: 28px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px 0px #959DA533;
    margin: 20px auto 0px;
}
.ticket-details{
    width: 1178px;
    height: 534.56px;
    gap: 28px;
}
.love-one{
    display: flex;
    width: 569px;
    height: 38.56px;
    gap: 16px;
    border-bottom: 1px solid black;
}
.love-one p{
    height: 18px;
    gap: 48px;
}
.city-box{
    width: 1176px;
    height: 430px;
    gap: 32px;
    display: flex;
    justify-content: space-between;
}

.city-row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    height: auto;
    gap: 32px;
    flex-wrap: wrap;
}